<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title | viSEOn.io</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
    <!--
     _____       .___                __________      _____  _____               __    __________                   .___.__       .__               __     .__
    /  _  \    __| _/____    _____   \____    /_____/ ____\/ ____\___________   \ \   \______   \_______  ____   __| _/|__| ____ |__| ____   _____/  |_   |__| ____   ____
    /  /_\  \  / __ |\__  \  /     \    /     // __ \   __\\   __\/ __ \_  __ \   \ \   |     ___/\_  __ \/  _ \ / __ | |  |/ ___\|  |/    \_/ __ \   __\  |  |/    \_/ ___\
    /    |    \/ /_/ | / __ \|  Y Y  \  /     /\  ___/|  |   |  | \  ___/|  | \/   / /   |    |     |  | \(  <_> ) /_/ | |  / /_/  >  |   |  \  ___/|  |    |  |   |  \  \___
    \____|__  /\____ |(____  /__|_|  / /_______ \___  >__|   |__|  \___  >__|     /_/    |____|     |__|   \____/\____ | |__\___  /|__|___|  /\___  >__| /\ |__|___|  /\___  >
    \/      \/     \/      \/          \/   \/                 \/                                             \/   /_____/         \/     \/     \/         \/     \/
    -->
    <!-- Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Themes/DashboardUi/css/main.min.css?v=1.4")">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52056929-16"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-52056929-16');
    </script>

</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <header class="c-navbar">
        <a class="c-navbar__brand" href="@Url.Content("~/")">

            <img src="~/images/stencil.dashboard-ui-logo.png" style="border-radius: 10px;" />
        </a>

        <!-- Navigation items that will be collapes and toggle in small viewports -->
            <nav class="c-nav collapse" id="main-nav">
                @Html.Partial("_SearchForm")

            </nav>
        <div class="c-dropdown u-ml-auto dropdown">
            <a class="c-avatar c-avatar--xsmall " target="_blank" href="https://www.prodiginet.com"  id="dropdwonMenuAvatar"   aria-haspopup="true" aria-expanded="false">
              Powered By :  <img src="~/images/ProdigiNET-logo-S.png" />
            </a>


         
            </div>
       
        <!-- // Navigation items  -->
        <button class="c-nav-toggle" type="button" data-toggle="collapse" data-target="#main-nav">
            <span class="c-nav-toggle__bar"></span>
            <span class="c-nav-toggle__bar"></span>
            <span class="c-nav-toggle__bar"></span>
        </button><!-- // .c-nav-toggle -->
    </header>

<div class="container">
    @RenderBody()
</div>
    <div class="navbar navbar-fixed-bottom">
        &copy; 2017 - @DateTime.Now.Year - ViSEOn.io
    </div>
    <!-- Main javascsript -->
    <script src="@Url.Content("~/Content/Themes/DashboardUi/js/main.min.js?v=1.4")"></script>

    
</body>
</html>