@model Viseon.Apps.MvcClient.ViewModels.Result.ResultViewModel
@{
    ViewBag.Title =$"{Model.OnPage.PageUrl} onpage viSEOn!";
}
<div class="row">
    <div class="col-md-12">
           
       
       
        <div class="u-mv-large u-text-center">
            <h2 class="u-mb-xsmall">  Viewing : <a target="_blank" href="@Model.OnPage.PageUrl">@Model.OnPage.PageUrl <i class="fa fa-share"></i></a></h2>
            <p class="u-text-mute u-h6">You can use the search box located at the top of the page to pull up another page or <a href="@Url.Content("~/")">go back to the home page</a></p>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-9">
    <!-- Meta -->
 
    <div class="c-card u-p-medium"id="meta">
        <h1 class="u-text-bold u-border-bottom">Meta Content </h1>
        <div class="panel-body collapse" id="metaBody">

            <div class="c-post">
                <h2>Title: </h2>
                <textarea class="c-post__content">@Html.Raw(Model.OnPage.Title.Text)</textarea>
                <div class="c-post__toolbar">
                    <span class="c-post__time" href="#">
                        Word Count @Model.OnPage.Title.WordCount | Character Count : @Model.OnPage.Title.CharacterCount
                    </span>
                </div>
            </div>

            <div class="c-post">
                <h2>Description: </h2>
                <textarea class="c-post__content">@Html.Raw(Model.OnPage.Description.Text)</textarea>
                <div class="c-post__toolbar">
                    <span class="c-post__time" href="#">
                        Word Count @Model.OnPage.Description.WordCount | Character Count : @Model.OnPage.Description.CharacterCount
                    </span>
                </div>
            </div>

            <div class="c-post">
                <h2>Keywords: </h2>
                <textarea class="c-post__content">@Html.Raw(Model.OnPage.Keywords.Text)</textarea>
                <div class="c-post__toolbar">
                    <span class="c-post__time" href="#">
                        Word Count @Model.OnPage.Keywords.WordCount | Character Count : @Model.OnPage.Keywords.CharacterCount
                    </span>
                </div>
            </div>

        </div>
    </div>
    <!-- Meta -->
    <!-- Content View -->
  
    <div class="u-text-bold c-card u-p-medium" id="contentView">
        <span class="pull-right c-badge c-badge--success">Words > @Model.OnPage.ContentWordCount</span>
        <h1 class="u-text-bold u-border-bottom c-tooltip c-tooltip--top" aria-label="Content View grabs all of the Content Html from the page and their nested elements.">
            Content View
        </h1>

        <div class="panel-body collapse" id="">
            @foreach (var element in Model.OnPage.HtmlContentElements)
            {
                <div class=" c-tooltip c-tooltip--right" 
                     aria-label='@Html.Raw(element)'>
                @Html.Raw(element)
                </div>
            }
        </div>
    </div>
    <!-- .Content View-->

    <!-- Headers -->
   
    <div class="c-card u-p-medium" id="headers">
        <h1 class="u-text-bold u-border-bottom">Headers (@Model.OnPage.TotalHeaders)</h1>
        <div class="panel-heading">
            <div class="panel-title">
                <a href="#headersBody" class="btn pull-right" data-toggle="collapse"><i class="glyphicon glyphicon-minus"></i> / <i class="glyphicon glyphicon-plus"></i></a>


            </div>
        </div>
        <div class="panel-body collapse" id="headersBody">
            @{
                var tags = Model.OnPage.Headers.Select(x => x.HtmlTagName).Distinct().ToList();
                foreach (var tag in tags)
                {
                    <h1  >@tag (@Model.OnPage.Headers.Count(x => x.HtmlTagName == tag))</h1>


                    foreach (var header in Model.OnPage.Headers.Where(x => x.HtmlTagName == tag).ToList())
                    {
                        <div class="c-post">
                            <textarea class="c-post__content">@Html.Raw(header.Text)</textarea>

                            <div class="c-post__toolbar">
                                <span>@header.HtmlTagName</span>
                                <span class="c-post__time" href="#">Word Count @header.WordCount
                                </span>
                            </div>
                        </div>
                    }
                    <hr/>
                }
            }

        </div>
    </div>
    <!-- .Headers-->
        
    <!-- Para -->

    <div class="c-card u-p-medium" id="paras">
        <span class="pull-right c-badge c-badge--success">Words > @Model.OnPage.Paras.Sum(x => x.WordCount)</span>
        <h1 class="u-text-bold u-border-bottom">Paragraphs (@Model.OnPage.TotalParas)</h1>
        <div class="panel-body collapse" id="parasBody">
            @foreach (var para in Model.OnPage.Paras)
        {
            <p tile="Word Count :  @para.WordCount">
                @Html.Raw(para.Text)
            </p>
    }
        </div>
    </div>
    <!-- .Para-->
        
     
</div>
<div class="col-md-3">
<!-- Nav -->
<div class="c-graph-card">
    <div class="c-graph-card__content u-flex u-justify-between u-align-items-baseline">
        <h3 class="u-text-bold c-graph-card__title u-h4">Nav</h3>
        <div class="u-text-right">

        </div>
    </div>
    <div class="c-graph-card__footer u-ph-zero">
        <!-- Nav Item -->
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">
            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>
                <a href="#meta">Meta Content</a>
            </span>

        </div>
        <!-- .Nav Item -->
        <!-- Nav Item -->
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">
            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>
                <a href="#contentView">Conent View</a>
            </span>

        </div>
        <!-- .Nav Item -->
        <!-- Nav Item -->
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">
            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>
                <a href="#headers">Headers</a>
            </span>

        </div>
        <!-- .Nav Item -->
        <!-- Nav Item -->
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">
            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>
                <a href="#paras">Paragraphs</a>
            </span>

        </div>
        <!-- .Nav Item -->
        <!-- Nav Item -->
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">
            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>
                <a href="#images">Images</a>
            </span>

        </div>
        <!-- .Nav Item -->
        <!-- Nav Item -->
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">
            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>
                <a href="#links">Links</a>
            </span>

        </div>
        <!-- .Nav Item -->

    </div>
</div>


<!--.Nav -->
<!-- Insights -->
<!-- Content -->
<div class="c-graph-card">
    <div class="c-graph-card__content u-flex u-justify-between u-align-items-baseline">
        <h3 class="u-text-bold c-graph-card__title u-h4">Content</h3>
        <div class="u-text-right">

        </div>
    </div>
    <div class="c-graph-card__footer u-ph-zero">
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">

            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i> Word Count
            </span>

            <div class="u-text-right u-color-primary">
                @Model.OnPage.ContentWordCount <i class="glyphicon glyphicon-book"></i>
            </div>
        </div>
        @{
            var hTags = Model.OnPage.Headers.Select(x => x.HtmlTagName).Distinct().ToList();
            foreach (var tag in tags)
            {
                <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pv-small">

                    <span class="u-text-small u-color-primary">
                        <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-primary"></i> @tag
                    </span>

                    <div class="u-text-right u-color-primary">
                        @Model.OnPage.Headers.Count(x => x.HtmlTagName == tag)
                    </div>
                </div>


            }
        }
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pv-small">

            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-primary"></i> Paragraphs
            </span>

            <div class="u-text-right u-color-primary">
                @Model.OnPage.TotalParas
            </div>
        </div>

    </div>

</div>
<!-- .Content -->
<!-- Links -->
<div class="c-graph-card">
    <div class="c-graph-card__content u-flex u-justify-between u-align-items-baseline">
        <h3 class="u-text-bold c-graph-card__title u-h4">Links</h3>
        <div class="u-text-right">

        </div>
    </div>
    <div class="c-graph-card__footer u-ph-zero">
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">

            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>Total Links
            </span>

            <div class="u-text-right u-color-primary">
                @Model.OnPage.TotalLinks <i class="glyphicon glyphicon-link"></i>
            </div>
        </div>
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">

            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>Do Follow
            </span>

            <div class="u-text-right u-color-primary">
                @Model.OnPage.TotalDoFollowLinks <i class="glyphicon glyphicon-link"></i>
            </div>
        </div>

        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">

            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>No Follow
            </span>

            <div class="u-text-right u-color-primary">
                @Model.OnPage.TotalNoFollowLinks <i class="glyphicon glyphicon-link"></i>
            </div>
        </div>

        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">

            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>Internal
            </span>

            <div class="u-text-right u-color-primary">
                @Model.OnPage.TotalInternalLinks <i class="glyphicon glyphicon-link"></i>
            </div>
        </div>

        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">

            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i>External
            </span>

            <div class="u-text-right u-color-primary">
                @Model.OnPage.TotalExternalLinks <i class="glyphicon glyphicon-link"></i>
            </div>
        </div>
    </div>

</div>
<!--.Links-->
<!-- IMages -->
<div class="c-graph-card">
    <div class="c-graph-card__content u-flex u-justify-between u-align-items-baseline">
        <h3 class="u-text-bold c-graph-card__title u-h4">Images</h3>
        <div class="u-text-right">

        </div>
    </div>
    <div class="c-graph-card__footer u-ph-zero">
        <div class="u-flex u-justify-between u-align-items-center u-border-bottom u-ph-medium u-pb-small">

            <span class="u-text-small u-color-primary">
                <i class="fa fa-circle-o u-text-small u-mr-xsmall u-color-info"></i> Total Images
            </span>

            <div class="u-text-right u-color-primary">
                @Model.OnPage.TotalImages<i class="glyphicon glyphicon-picture"></i>
            </div>
        </div>
               
    </div>

</div>

<!-- IMages -->
<!--.Insights-->
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Images -->
        <table class="c-table" id="images">
            <caption class="c-table__title">
                Images<small >@Model.OnPage.TotalImages</small>
            </caption>
            <thead class="c-table__head c-table__head--slim">
                <tr class="c-table__row">
                    <th class="c-table__cell c-table__cell--head">Alt</th>
                    <th class="c-table__cell c-table__cell--head">Title</th>
                    <th class="c-table__cell c-table__cell--head">Url</th>
                    <th class="c-table__cell c-table__cell--head">Thumb</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var img in Model.OnPage.Images)
            {
                <tr class="c-table__row">
                    <td class="c-table__cell">@img.Alt</td>
                    <td class="c-table__cell ">@img.Title</td>
                    <td class="c-table__cell ">@img.Url</td>
                    <td class="c-table__cell c-table__cell--img o-media">
                        <div class="o-media__img u-mr-xsmall">
                            <a href="@img.Url" target="_blank">
                                <img style="width:56px;" src="@img.Url" />
                            </a> 

                        </div>

                    </td>
                </tr>
        }
            </tbody>
        </table>
        <!-- Images -->
        <!-- Links -->
        <table class="c-table"  id="links">
            <caption class="c-table__title">
                Links <small class="label label-danger">@Model.OnPage.TotalLinks </small>
            </caption>
            <thead class="c-table__head c-table__head--slim">
            <tr class="c-table__row">
                <th class="c-table__cell c-table__cell--head">Anchor Text</th>
                <th class="c-table__cell c-table__cell--head">Href</th>
                <th class="c-table__cell c-table__cell--head">Direction</th>
                <th class="c-table__cell c-table__cell--head">Follow</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var link in Model.OnPage.Links)
            {
                <tr class="c-table__row">
                    <td class="c-table__cell"  >@link.AnchorText</td>
                    <td class="c-table__cell">
                        <a href="@link.Href" target="_blank">
                            @link.Href
                        </a> 
                    </td>
                    <td class="c-table__cell">@(link.IsInternal ? "Internal" : "External")</td>
                    <td class="c-table__cell">@(link.IsFollow ? "Follow" : "NoFollow")</td>
                </tr>
            }
            </tbody>
        </table>
       
        <!-- Links -->

    </div>
</div>
 